@charset "utf-8";

@font-face {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* HTML and Body Styles */

html {
   background-color: rgb(182, 182, 171);
}

/* Page Body Styles */
body {
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   max-width: 960px;
   min-width: 640px;
   background-color: rgb(146, 92, 139);
   font-family: Verdana, Geneva, Arial, sans-serif;   
}

/* Page Header Styles */
body > header > img {
   display: block;
   width: 100%;
}

body > header > nav.horizontalNavigation li {
   width: 33%;
}


/* Horizontal Navigation List Styles */

nav.horizontalNavigation > ul > li {
   display: block;
   float: left;
}

nav.horizontalNavigation a {
   background-color: rgb(238, 241, 26);
   display: block;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 1.4em;
   line-height: 1.8em;
   text-align: center;
}  

nav.horizontalNavigation a:link, 
nav.horizontalNavigation a:visited {
   color: rgb(236, 67, 16);
}

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   background-color: rgb(71, 52, 29);
} 

/* Heading Styles */

h1 {
   text-indent: 1em;
}

body > header h1 {
   font-size: 2.4em;
   line-height: 2.4em;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   letter-spacing: 0.3em;
   text-align: center;
   font-weight: normal;
   color: rgb(236, 67, 16);
}

body > article > h1, body > section > h1, body > aside > h1, body > section > article > h1 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   padding: 0.5em 0;
}

body > article > h1, body > section > h1, body > aside > h1 {
   font-size: 1.3em;
   background-color: rgb(102, 72, 38);
   color: black;
}


section > article > h1 {
   font-size: 1.1em;
}


/* Paragraph Styles */

p {
   margin: 1em;
   font-size: 0.9em;
}

/* Left Column Styles */

img {
   width: 100%;
   display: block;
}


/* Right Column Styles */

aside {
   background-color: rgb(238, 74, 9);
   padding-bottom: 2em;
}


aside > h1 {
   text-align: center;
   background-color: rgb(31, 31, 31);
   color: rgb(201, 201, 201);
}

dl {
   font-size: 0.9em;
}

dl > dt {
   color: black;
   margin: 1em;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

dl > dd {
   margin: 0 1em 0 1em;
   color: rgb(189, 170, 96);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Footer Styles */

footer {
   color: rgb(243, 247, 13);
   background-color: rgb(163, 35, 35);
   font-size: 0.9em;
   padding: 1em 0;
   text-align: center;
}